{% extends 'Home/main.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />

<div class="row">
  {% for product in products %}
  <div class="col-lg-4">
    <img class="thumbnail" src="{{product.imgURL}}" alt="" />
    <div class="box-element products">
      <strong>{{product.name}}</strong>
      <hr />
      <button data-product={{product.id}} data-action="add" class="btn btn-info update-cart">Add to cart</button>
      <a href="#" class="btn btn-primary">View</a>
      <h4 style="display: inline-block; float: right">
        Rs.{{product.price|floatformat:2}}
      </h4>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}